@tailwind base;
@tailwind components;
@tailwind utilities;

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-text 40s linear infinite;
}

@keyframes scroll-text {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}



